# 白名單模式：先忽略全部，再放行指定路徑
/*
!/.gitignore
!/obsidian-vault-sync-cf/
!/obsidian-vault-sync-plugin/

/obsidian-vault-sync-cf/*
!/obsidian-vault-sync-cf/functions/
!/obsidian-vault-sync-cf/public/
!/obsidian-vault-sync-cf/server/
!/obsidian-vault-sync-cf/src/
!/obsidian-vault-sync-cf/.gitignore
!/obsidian-vault-sync-cf/env.d.ts
!/obsidian-vault-sync-cf/index.html
!/obsidian-vault-sync-cf/package.json
!/obsidian-vault-sync-cf/package-lock.json
!/obsidian-vault-sync-cf/tsconfig.json
!/obsidian-vault-sync-cf/tsconfig.app.json
!/obsidian-vault-sync-cf/tsconfig.node.json
!/obsidian-vault-sync-cf/tsconfig.functions.json
!/obsidian-vault-sync-cf/tsconfig.worker.json
!/obsidian-vault-sync-cf/vite.config.ts
!/obsidian-vault-sync-cf/worker-configuration.d.ts
!/obsidian-vault-sync-cf/wrangler.jsonc

/obsidian-vault-sync-plugin/*
!/obsidian-vault-sync-plugin/src/
!/obsidian-vault-sync-plugin/.gitignore
!/obsidian-vault-sync-plugin/.editorconfig
!/obsidian-vault-sync-plugin/.npmrc
!/obsidian-vault-sync-plugin/LICENSE
!/obsidian-vault-sync-plugin/README.md
!/obsidian-vault-sync-plugin/esbuild.config.mjs
!/obsidian-vault-sync-plugin/eslint.config.mts
!/obsidian-vault-sync-plugin/manifest.json
!/obsidian-vault-sync-plugin/package.json
!/obsidian-vault-sync-plugin/package-lock.json
!/obsidian-vault-sync-plugin/tsconfig.json
!/obsidian-vault-sync-plugin/version-bump.mjs
!/obsidian-vault-sync-plugin/versions.json